
@media (max-width:767px) {
    .navLinkswrapper {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        position: absolute;
        top: 100%;
        left: 0;
        background: inherit;
        transition: .5s ease-in-out;
        width: 100%;
        z-index: 999;
    }
    
}